<div class="container">
    <div class="page-title careline-subtitle">
      <span class="icon-cl-car"></span>
        要保書預覽
    </div>
    <hr>
    <div class="people-list-container">
      <div class="pdfSvg">
      </div>
      
      <a target="_blank" clPdfPreview [pdfUrl]="pdfUrl">
        <button class="previewYourPdfBtn">
          檔案預覽
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
        <div id="fingerDiv" class="fingerDiv animateInite"></div>
      </a>
    </div> 
    <hr>
    <div class="row">
        <div class="container">
          <div class="col-lg-12 text-center">
              <button style="min-width:315px!important;" id="gogoOutNextBtn" class="form-control goingCheckInfo" (click)="completeFunPreview()">完成投保</button>
          </div>
        </div>
    </div>
</div>      
