@import './../member-create/member-create.component.css';

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?m4tj28');
    src:  url('fonts/icomoon.eot?m4tj28#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?m4tj28') format('truetype'),
      url('fonts/icomoon.woff?m4tj28') format('woff'),
      url('fonts/icomoon.svg?m4tj28#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cl-car:before {
    color:#e84466;  
    content: "\e90b";
  }
  .icon-cl-motorbike:before {
    content: "\e90a";
    color: #e84466;
  }

  .pdfSvg {
     background: url('images/pdf-icon-0.svg');
     background-repeat: no-repeat;
     background-size: contain; 
     background-position:center;
     height: 110px;   
  }

  .pdfUrlContainer a {
    display:inline-block;
  }

  .img-responsive {
    width: 95px;
    margin: 0 auto;
  }

  .previewYourPdfBtn {
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px; 
    border-radius: 50px;  
    border: 2px solid #808080;
    color: #808080;
    height: 47px;
    min-width: 210px;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", "Heiti TC Light", 微软雅黑, "Arial Narrow Regular", stheititc, sans-serif;
    font-weight: 400;
    display: block;
    margin: 20px auto;
  }

  .previewYourPdfBtn i {
    font-size: 23px;  
  }

  button {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 25px; 
  
    /* Firefox 1-3.6 */
    -moz-border-radius: 25px; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 25px;   
  }
  
  button:hover {
     color:#fff;
     font-weight: 400; 
     background-color: #808080;
  }

  .btn.careline-btn.careline-btn-lg.careline-btn-theme-1.mt-5:hover {
    color:#ccc;
    font-weight: 400; 
    background-color: #D0596E;
  }

  button:hover i {
    font-weight: 300;
  }

  #btnFinishedPdf {
    display: block;
    margin: 0 auto;
  }

  .fingerDiv {
    background: url(./images/clickHand.png);
    background-size: contain;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 80px;
    right: 0;
    top: 128px;
    z-index: 10;
  }
  
  #fingerDiv.fingerDiv.animateInite {
    -webkit-animation: changeSizeMove 0.5s infinite; /* Safari 4+ */
    -moz-animation:    changeSizeMove 0.5s infinite; /* Fx 5+ */
    -o-animation:      changeSizeMove 0.5s infinite; /* Opera 12+ */
    animation:         changeSizeMove 0.5s infinite; /* IE 10+, Fx 29+ */
  }

  @-moz-keyframes changeSizeMove {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  @-o-keyframes changeSizeMove {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  @keyframes changeSizeMove {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.8);
    }
  }

  hr {
    margin: 0px;
  }
  .people-list-container {
    margin-top: 15px;
    height: 150px;
    text-align: center;
  }
  .fingerDiv {
    top:55px;
  }
  #btnFinishedPdf {
    margin-top: 15px!important;
  }
  .people-list-container .previewYourPdfBtn {
    margin-bottom: 0px!important;
  }
  

  /* @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    hr {
      margin: 0px;
    }
    .people-list-container {
      margin-top: 15px;
      height: 215px;
    }
    .fingerDiv {
      top:60px;
    }
    #btnFinishedPdf {
      margin-top: 15px!important;
    }
    .people-list-container .previewYourPdfBtn {
      margin-bottom: 0px!important;
    }
  } */

  .pdfSvg {
    width: 80%;
    margin-left: 9%;
  }

  .pdfUrlContainer {
    padding-top:20px;
  }

  .specialHrTo {
    margin-top:20px;
  }

  @media screen and (max-width:480px) {
    .specialHrTo {
      margin-top:50px;
    }
  }