<!-- carousel -->
<cl-owl-carousel-progress [options]="{autoplay: true, loop: true, nav: true, items: 1, dots: true, navigation: true, touchDrag: true, onLoadedLazy: true}" >
  <div class="item" *ngFor="let image of images;let i = index" [ngStyle]="{'cursor': (image.clickAndGoToAncher == true || image.linkUrl !== null) ? 'pointer' : 'default'}">
      <div title="{{image.hoverText}}" (click)="clickWannaInsuredBtn(image.clickAndGoToAncher, image.linkUrl)">
        <img class="img-responsive" src="{{image.imageUrl}}" alt="{{image.hoverText}}">
      </div>
  </div>
</cl-owl-carousel-progress>
  
<div id="flagOne" style="position:relative; top: -25px;"></div>

<!-- where'd like to go -->
<div class="row" id="animateFlag">
  <div class="app-index container" style="padding-left:0px; padding-right:0px;">
    <div class="whereDgo col-lg-12 text-center" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="immediatelyGo" >

      </div>
      <h2 style="margin-bottom:20px;margin-top:15px;cursor:pointer;" (click)="clickWannaInsuredBtn(true, '')">
        <a class="immediateH2" href="#" onclick="return false;" style="color:#e84466;text-decoration: underline;">
          點我試算保費
        </a>
        <div style="cursor:pointer;width:20px;display:inline-block;">
        <i class="fa fa-chevron-circle-down" style="color:#dddddd"></i>
        </div>
      </h2>
      <div class="imAline"></div>
    </div>
  </div>
</div>

<!-- place -->
<div class="row">
  <div class="container oneCon">
    <div class="place app-index col-lg-12 text-center">
        <h2>這次租車去哪呢？</h2>
        <div id="brandInputSelect" for="brand-filter">
          <input [(ngModel)]="selectBrandTxt" list="brandListName" type="search" class="form-control" id="brand-filter" (keydown)="changeClassStatus(true)" (mouseleave)="changeClassStatus(false)" (focus)="changeClassStatus(true)" placeholder="請輸入您的車廠" name="brands" />
          <i class="fa " (click)="openUl(true)" [ngClass]="changeTheIcon ? 'fa-search' : 'fa-angle-down'"></i>
        </div>
        <ul id="brandListName" (mouseleave)="changeClassStatus(false)" (mouseover)="changeClassStatus(true)">
            <li (click)="toAddLiVal(brandLiVal.value)" #brandLiVal data-value="{{item.value}}" *ngFor="let item of brandList | brandfilter: selectBrandTxt">{{item['name']}}</li>
        </ul>
    </div>
  </div>
</div>
<div id="flagTwo" style="position:relative; top: -110px;"></div>

<!-- calendar start -->
<div id="flagThree" style="position:relative; top: -155px;"></div>
<div class="imAline"></div>
<div id="flagFour" style="position:relative; top: -103px;"></div>
<div class="row">
  <div class="container">
    <div class="place app-index col-lg-12 text-center">
      <h2 id="backToPoint" class="selectStartBakH2">{{textOfSelectingDays}}</h2>
    </div>
  </div>
</div>
<div id="calendarTableDiv" class="container">
  <ng-container *ngIf="tableShowHidden">
    <div id="tableEndDivRow" class="row">
      <div class="container">
        <div class="col-sm-12 text-center">
          <h3>{{startTravelDay}} ~ {{endTravelDay}}</h3>
          <h1 class="diffDayH1"><span>總共</span>{{diffDays}}<span>天</span></h1>
          <button class="form-control modifiedDays" (click)="toModifiedDays()">更改日期</button>
        </div>
      </div>
    </div>
  </ng-container>
  <div id="flagFive" style="position:relative; top: 150px;"></div>
  <div id="calendarFlagAnimate"></div>
  <div *ngIf="!tableShowHidden">
    <div class="row">
      <div class="col-lg-12">
        <table id="calendarTable" class="table">
          <tbody>
          <ng-container *ngFor="let item of createRange(theDayBeginingNeedToRun); let i = index;">
              <ng-container *ngIf="(firstMon | amAdd:i : 'days' | amDateFormat: 'DD') == '01' && (firstMon | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD') <= (firstMon | amAdd:numberOfgetDayFromBkendLastSun: 'days' | amDateFormat: 'YYYY-MM-DD') || (firstMon | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD') == (firstMon | amDateFormat: 'YYYY-MM-DD') && (firstMon | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD') <= (firstMon | amAdd:numberOfgetDayFromBkendLastSun: 'days' | amDateFormat: 'YYYY-MM-DD')"><h3 class="text-center calendarSecH3">{{ firstMon | amLocal | amAdd:i : 'days' | amDateFormat: 'YYYY' }}年{{ firstMon | amLocal | amAdd:i : 'days' | amDateFormat: 'MM' }}月</h3>
                <td class="weekDayText text-center">
                  星期日
                </td>
                <td class="weekDayText text-center">
                  星期一
                </td>
                <td class="weekDayText text-center">
                  星期二
                </td>
                <td class="weekDayText text-center">
                  星期三
                </td>
                <td class="weekDayText text-center">
                  星期四
                </td>
                <td class="weekDayText text-center">
                  星期五
                </td>
                <td class="weekDayText text-center">
                  星期六
                </td>
                <ng-container>
                  <td id="emptyTd" class="text-center" *ngFor="let number of getDayArr((firstMon | amLocal | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD'), (firstMon | amLocal | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD')); ">
                  </td>
                </ng-container>
              </ng-container>
              <td class="text-center" [ngClass]="toHiddenDate(btnStartDay.value) ? 'calDayNone' : ''">
                <button style="z-index:999;" [hidden]="toHiddenDate(btnStartDay.value)" #btnStartDay [disabled]="buttonToDisabled(btnStartDay.value) || buttonToDisabledTwo(btnStartDay.value)" id="{{'calendarDayButton'+i}}" (click)="onClickMe($event, 'calendarDayButton'+ i, i, btnStartDay.value)" value="{{firstMon | amAdd:i : 'days' | amDateFormat: 'YYYY-MM-DD'}}">
                  <h4><i class="checkBtn fa fa-check hidden" aria-hidden="true" style="pointer-events: none;"></i></h4>
                  {{firstMon | amLocal | amAdd:i : 'days' | amDateFormat: 'DD'}}
                  <h4><span class="checkBtnTxt hidden" style="pointer-events: none;">出發日</span></h4>
                  <h4 *ngIf="buttonToDisabledTwo(btnStartDay.value)"><span class="typhoonDay" style="pointer-events: none;">{{disabledReason}}</span></h4>
                </button>
              </td>
          </ng-container>
          </tbody>
        </table>
      </div>

      <div class="col-lg-12 text-center">
        <button *ngIf="toShowMoreDays" (click)="toShowMoreDaysFun()" id="moreDaysBtn" class="moreDays btn btn-sm form-control">
          更多日期
        </button>
      </div>
      <div class="col-lg-12 text-center" *ngIf="!selectTravelDayIsDone">
        <h2 class="normalH2">{{textOfOverDays}}</h2>
        <h4 *ngIf="!startTravelDayOn">請直撥客服專線0800-234-088為您服務</h4>
        <h4 *ngIf="startTravelDayOn">請來電免費客服專線0800-234-088</h4>
      </div>
    </div>
  </div>
</div>
<!-- end of calendar -->
