@import '../home-page/home-page.component.css';
input[type="search"] {
    width: 196px;
    height: 36px;
    padding: 0;
    line-height: 32px;
    background: white;
    color: gray;
    border: 0;
    font-size: 0.9em;
    text-indent: 12px;
    outline: none;
    -webkit-appearance: textfield;
    border: 1px solid #ddd!important;
    padding-right: 20px;
  }
  
  input[type="search"]::-webkit-input-placeholder {
    color: #ddd;
    font-weight: 400;
    font-size: 1.2em;
  }
  input[type="search"]::-moz-input-placeholder {
    color: #ddd;
    font-weight: 400;
    font-size: 1.2em;
  }
  input[type="search"]:-ms-input-placeholder {
    color: #ddd;
    font-weight: 400;
    font-size: 1.2em;
  }
  
  input[type="search"]+ i{
      position: relative;
      top: -44px;
      left: 65px;
  }
  
  input[type="search"]::-webkit-calendar-picker-indicator {
      display:none;
  }
  
  #brandListName {
    display: inline-block;
    position: relative;
    margin:0px;
    padding:0px;
    border: 1px solid #e84466;
    width:196px;
    overflow: auto;
    max-height: 200px;
    overflow-x: hidden;
    display:none;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px; 

    /* Firefox 1-3.6 */
    -moz-border-radius: 10px; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px; 
  }

  .featureDescH3 {
    color: #e84466;
    font-size: 16pt;
    background: url('/assets/images/ribbon.svg') center no-repeat;
    font-weight: normal;
    background-size: cover;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 10px;
    display: inline-block;
    width: auto;
    padding-left:13px;
    padding-right:13px;
  }

  .logo {
    max-width: 125px;
    height: auto;
    float: right;
    margin: 20px 30%;
    margin-top: 15px;
  }
  
  #brandListName li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  #brandListName>li:hover {
    background: #e84466;
    color:white;
  }
  
  #brandInputSelect {
    height: 50px;
  }
  
  #brandListName::-webkit-scrollbar
  {
      width: 12px;
      background-color: white;
  }
  
  #brandListName::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #e84466;
  }

  .fa-angle-down, .fa-angle-up {
    color:#01a29a;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
  }
  
  #calendarModal {
    background-color: rgba(0,0,0,0.4);  
  }

  #currentModal {
    background-color: rgba(0,0,0,0.4);  
  }
  
  #closebtn {
    color: white;
    background: #808080;
    border-color: #808080;
    cursor: pointer;
    width: 10%;
    height: auto;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    min-width: 100px;
    margin: 30px 0px;
  }

  .modal-content {
    margin-top: 15%;
  }

  #timeContainer span {
    display: inline-block;
  }

  /* brandlist 2 */

  @media screen and (max-width: 480px) {
    #brandListName2 {
      width: 250px;
    }
    #brandListName {
      width: 250px;  
    }
  }

  #brandListName2 {
    display: inline-block;
    position: relative;
    margin:0px;
    padding:0px;
    border: 1px solid #e84466;
    width:196px;
    overflow: auto;
    max-height: 200px;
    overflow-x: hidden;
    display:none;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px; 

    /* Firefox 1-3.6 */
    -moz-border-radius: 10px; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px; 
  }
  
  #brandListName2 li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  #brandListName2>li:hover {
    background: #e84466;
    color:white;
    cursor: pointer;
  }
  
  #brandInputSelect {
    height: 50px;
  }
  
  #brandListName2::-webkit-scrollbar
  {
      width: 12px;
      background-color: white;
  }
  
  #brandListName2::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #e84466;
  }

  #selectValHour {
    display: inline-block;
    position: relative;
    margin:0px;
    padding:0px;
    border: 1px solid #e84466;
    width:196px;
    overflow: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-height: 300px;
    z-index: 11;
  }
  
  #selectValHour li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  #selectValHour>li:hover {
    background: #e84466;
    color:white;
    cursor: pointer;
  }
  #selectValHour::-webkit-scrollbar
  {
      width: 12px;
      background-color: white;
  }
  
  #selectValHour::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #e84466;
  }

    ::-moz-scrollbar {
      background-color: white;
    }
    ::-moz-scrollbar-track {
      background-color: white;
    }
    ::-moz-scrollbar-thumb {
      background-color: white;
    }

#currentModal .modal-content {
  margin-top:18%;
}
#calendarModal .modal-content {
  margin-top:8%;
}

@media screen and (max-width:480px) {
  #calendarModal .modal-content {
    margin-top:15%;
  }
  #currentModal .modal-content {
    margin-top:50%;
  }
  #secondCol2 {
    min-height: 250px;
  }
  input[type="search"]:focus {
    font-size: 18px!important;
  }
}


@-moz-document url-prefix() { 
  @media screen and (min-width: 1200px) {
    #btnOfPackages .col-xs-3:nth-child(3) .specialPkgLabel span {
      left: 25%!important;
    }
    #calendarTable .checkBtnTxt {
      left: 19%!important;
    }
    #calendarTable td .checkBtn {
      top: -30px!important;
    }
    #rowOfBtn .specialPkgLabel input:checked + span, .col-xs-7.NoPaddingLeft#cutAmtBtn .specialPkgLabel.toCusBtn span {
      display: inline-block;
      width: 63%;
      vertical-align:top;
    }
  }
}

@media screen and (max-width: 500px) {
  /* #btnOfPackages .col-xs-3:nth-child(3) .specialPkgLabel span {
    left: 25%!important;
  } */
  #calendarTable .checkBtnTxt {
    left: -26%!important;
  }
  #calendarTable td .checkBtn {
    top: -23px!important;
  }
  #rowOfBtn .specialPkgLabel input:checked + span, .col-xs-7.NoPaddingLeft#cutAmtBtn .specialPkgLabel.toCusBtn span {
    display: inline-block;
    width: 63%;
    vertical-align:top;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
  .specialPkgLabel.toCusBtn span {

  }
  #rowOfBtn .col-xs-7.NoPaddingLeft#cutAmtBtn .specialPkgLabel.toCusBtn span {
    left: 22%!important;
  }
  .specialPkgLabel.toCusBtn span, .specialPkgLabel input:checked + span {
    left: 17%;
  }
  #btnOfPackages[_ngcontent-c7]   .col-xs-3[_ngcontent-c7]:nth-child(1)   .specialPkgLabel[_ngcontent-c7]   span[_ngcontent-c7] {
    left: 22%!important;
  }
  #btnOfPackages[_ngcontent-c7]   .col-xs-3[_ngcontent-c7]:nth-child(2)   .specialPkgLabel[_ngcontent-c7]   span[_ngcontent-c7] {
    left: 22%!important;
  }
  #btnOfPackages[_ngcontent-c7]   .col-xs-3[_ngcontent-c7]:nth-child(3)   .specialPkgLabel[_ngcontent-c7]   span[_ngcontent-c7] {
    left: 22%!important;
  }
  #btnOfPackages[_ngcontent-c7]   .col-xs-3[_ngcontent-c7]:nth-child(4)   .specialPkgLabel[_ngcontent-c7]   span[_ngcontent-c7] {
    left: 22%!important;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  #rowOfBtn .col-xs-7.NoPaddingLeft#cutAmtBtn .specialPkgLabel.toCusBtn span {
    left: 22%!important;
  }
  #rowOfBtn .col-xs-2 {
    padding-left: 10px!important;
  }
  #deskCusPkg .specialPkgLabel.toCusBtn span .specialPkgLabel input:checked + span {
    left:17%!important;
  }
  #deskCusPkg #rowOfBtn[_ngcontent-c7]   .col-xs-7.NoPaddingLeft#cutAmtBtn[_ngcontent-c7]   .specialPkgLabel.toCusBtn[_ngcontent-c7]   span[_ngcontent-c7] {
    left: 19%!important;
  }
 }

 #whereYouLikeToRent span {
   color: #e84466;
   position: relative;
   top: -5vh;
   text-align: center;
   margin: 0 auto;
   padding-right: 22px;
   display: block;
   font-size: 1.1rem;
 }

 #flagTwo{
   
 }

 

 
