<div style="width:100%; height:100%;">
    <div class="row" style="margin-top:5%;">
        <div class="container-fluid">
          <div class="col-xs-12 text-center">
            <div class="imgBak"></div>
          </div>
          <div class="col-xs-12 text-center">
              <h2 style="margin-top:20px;">您現在版本</h2>
              <div class="versions">
                <div class="row text-center" style="margin-top:75px;margin-bottom: 75px;">  
                <h1 class="load">
                  <span>0</span>
                  <span>0</span>
                  <span>1</span>
                  <span>.</span>
                  <span>0</span>
                  <span>0</span>
                  <span>6</span>
                  <span>.</span>
                  <span>0</span>
                  <span>0</span>
                  <span>3</span>
                </h1>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
<div class="col-xs-12 text-center">
    <a class="btn-11" href="/CareLineTravel/travel/index">回首頁</a>
</div>
