.logo-bg {
    display: inline-block;
    width: auto;
    height: 50px;
    margin-bottom: 0;
}
.col.logoOnTheRight p {
    float:right;  
}
.col.logoOnTheRight {
    padding-right: 0px;
}
.col.logoOnTheRight p:nth-child(2) {
    margin-top: 22px;
}
.gogoBanner img {
    left: 0;
    height: auto;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .gogoBanner {
        margin-top: 20%;
    }
}
@media screen and (min-width: 480px) {
    .gogoBanner {
        margin-top: 77px;
    }
}

.navbar {
    
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:999;
    background-color: hsla(0,0%,100%,.8);
    box-shadow: 1px 1px 3px #efefef;
}

@media screen and (max-width:730px) {
    .col.logoOnTheRight p:nth-child(2) {
        margin-top: 0px;
        float:none;
        font-size: 12px;
    }
    .logo-bg {
        width: 100%;
        height: auto;
    }
    .col.logoOnTheRight {
        padding-right: 15px;
    }
}