<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col">
      <img class="img-responsive" src="./assets/images/logos/gogoout.png" alt="">
    </div>
    <div class="col logoOnTheRight">
      <p>
       <img class="img-responsive logo-bg" src="./assets/images/logos/careline.png" alt="">
      </p>
      <p>
        本保險服務：
      </p>
    </div>
  </div>
</nav>

<!-- image banner  -->
<div class="row gogoBanner">
  <div class="container-fluid">
    <img class="img-responsive" src="./assets/images/gogooutbannertemp1.jpg" alt="">
  </div>
</div>
